<p id="notice"><%= notice %></p>


<table>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><strong><%= question.name %> => </strong></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Supprimer', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crées un nouveau Questionnaire', new_question_path, class: "btn btn-success" %>
