
<div class="col l12">
  <%= notice %>
</div>


<div class="row">
  <div id="form" class="col l5 m5 push-l3">

    <%= form_for :users, url: users_path  do |f| %>

        <%= f.label :firstname, "Prénom:" %>
        <%= f.text_field :firstname  %>

        <%= f.label :lastname, "Nom de Famille:" %>
        <%= f.text_field :lastname %>

        <%= f.label :birthdate, "Date de Naissance:" %>
        <%= f.date_field :birthdate %>

        <%= f.label :mail, "Adresse Email:" %>
        <%= f.email_field :mail %>

        <%= f.hidden_field :hidden, :value=>@id_instance %>

        <%= f.submit "s'inscrire", class: "btn" %>
    <% end %>

  </div>
</div>