<% if flash[:notice] %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
<% end %>

<% if @user.present? %>
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
          <li class="alert alert-danger"><%= message %></li>
      <% end %>
  <% end %>
<% end %>

<div class="row">
  <div id="form" class="col l5 m5 push-l3">

    <%= form_for :users, url: users_path  do |f| %>

        <%= f.label :firstname, "Prénom:" %>
        <%= f.text_field :firstname, :required => true  %>

        <%= f.label :lastname, "Nom de Famille:" %>
        <%= f.text_field :lastname, :required => true %>

        <%= f.label :birthdate, "Date de Naissance:" %>
        <%= f.date_field :birthdate, :required => true %>

        <%= f.label :mail, "Adresse Email:" %>
        <%= f.email_field :mail, :required => true %>

        <%= f.hidden_field :id_instance, :value=>@value %>

        <%= f.submit "s'inscrire", class: "btn" %>
    <% end %>

  </div>
</div>