<!DOCTYPE html>
<html>
  <head>
    <title>My new RH</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <a href="#" id="logo" class="pull-left">Feu RH</a>
    <ul class="pull-right list-unstyled link_size list-inline">
    <li><a href="<%= url_for(controller:'welcome', action:'connection') %>">Candidats</a></li>
      <li><a href="<%= url_for(controller:'sessions', action:'new') %>">Administration</a></li>
    </ul>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>

</html>
